.section {
    padding: 64px 16px;
    text-align: center;
}

.section__tag {
    font-size: var(--font-size-tag);
    color: var(--color-sub);
}

.section__title {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--color-text);
}

@media (min-width: 769px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}