@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body, h1, button {
    all: unset;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
}

.stopwatch {
    display: inline-block;
    padding: 48px 32px 72px 32px;
    background-color: white;
    border: 4px solid #aaa;
    border-radius: 24px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.stopwatch h1 {
    display: block;
    margin-bottom: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform:uppercase;
    color: gray;
}

.stopwatch__interface {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stopwatch__interface > * {
    height: 72px;
    line-height: 72px;
    border-radius: 4px;
}

.stopwatch__interface span {
    display: inline-block;
    width: 248px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #555;
}

.stopwatch__interface button {
    width: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6em;
    text-align: center;
    color: white;
    background-color: steelblue;
    cursor: pointer;
    transition: background-color 0.35s ease-in-out;
}